<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <th:block th:include="/include/admin_head.html"></th:block>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  <script src="../admin_asset/js/main.js"></script>
</head>

<body>

<th:block th:include="/include/admin_header.html"/>
<th:block th:include="/include/admin_sidebar.html"/>


<main id="main" class="main">

  <div class="pagetitle">

    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/adminmain">Home</a></li>
        <li class="breadcrumb-item active">대시보드</li>
      </ol>
    </nav>
    <h1>대시보드</h1>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">

          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
<!--                  <li><a class="dropdown-item" href="#">This Month</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">This Year</a></li>-->
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">판매건수 <span>| Today</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-bag-shopping"></i>
                  </div>
                  <div class="ps-3">
                    <h6 th:text="|${sellingCount} 건|"></h6>
<!--                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->

                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">총 수익 <span>| Today</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-won-sign"></i>
                  </div>
                  <div class="ps-3">
                    <h6 th:text="|${sellingIncome} 원|" id="money"></h6>
<!--                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->
                    <script>
                      let money = $('#money').text();
                      let money2 = money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      $('#money').text(money2);
                    </script>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
<!--                  <li><a class="dropdown-item" href="#">This Month</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">This Year</a></li>-->
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">회원수 <span> | Today</span></h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fa-solid fa-users"></i>
                  </div>
                  <div class="ps-3">
                    <h6 th:text="|${memberCount} 명|"> </h6>
<!--                    <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>-->

                  </div>
                </div>

              </div>
            </div>

          </div><!-- End Customers Card -->

          <!-- Reports -->
          <div class="col-12">
            <div class="card">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
<!--                  <li><a class="dropdown-item" href="#">This Month</a></li>-->
<!--                  <li><a class="dropdown-item" href="#">This Year</a></li>-->
                </ul>
              </div>

              <div class="card-body">
                <h5 class="card-title">전체 판매 통계 <span> | Today</span></h5>

                <!-- Line Chart -->
                <center>
                <canvas style="max-width:1500px ;max-height:600px" id="chart"></canvas>
                </center>
                <script th:inline="javascript">

                  let jsonData = [[${json}]];
                  obj = JSON.parse(jsonData);

                  var labelList = new Array();
                  var countList = new Array();
                  var revenueList = new Array();

                  for(key in obj){
                    labelList.push(obj[key].mgDate);
                    countList.push(obj[key].mgCount);
                    revenueList.push(obj[key].mgRevenue);
                  }


                  let ctx = document.getElementById('chart').getContext('2d');
                  new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: labelList,
                      datasets: [{
                        label: '수익',
                        yAxisID: 'A',
                        borderColor: '#2eca6a',
                        backgroundColor: '#2eca6a',
                        data: revenueList,
                        fill: false
                      }, {
                        label: '판매량',
                        yAxisID: 'B',
                        borderColor: '#4154f1',
                        backgroundColor: '#4154f1',
                        data: countList,
                        fill: false
                      }]
                    },
                    options: {
                      tooltips: {
                        mode: 'nearest'
                      },
                      scales: {
                        yAxes: [{
                          id: 'A',
                          type: 'linear',
                          position: 'left',
                          ticks: {
                            // min: 0,
                            // max: 100,
                            // stepSize: 20,
                            fontColor: '#000000',
                            callback: function(value, index, values) {
                              return value + ' 원';
                            }
                          }
                        }, {
                          id: 'B',
                          type: 'linear',
                          position: 'right',
                          ticks: {
                            // min: 60,
                            // max: 140,
                            stepSize: 1,
                            fontColor: '#000000',
                            callback: function(value, index, values) {
                              return value + ' 건';
                            }
                          }
                        }]
                      },
                      elements: {
                        line: {
                          tension: 0, // disables bezier curves
                        },
                        point: {
                          radius: 4,
                          borderWidth: 2,
                          pointStyle: 'circle'
                        }
                      }

                    }
                  });
                </script>
                <!-- End Line Chart -->

              </div>

            </div>
          </div><!-- End Reports -->

          <!-- Top Selling -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">

              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>

                  <li><a class="dropdown-item" href="#">Today</a></li>
                  <li><a class="dropdown-item" href="#">This Month</a></li>
                  <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
              </div>


          <!-- Recent Sales -->
          <div class="col-12">
            <div class="card recent-sales overflow-auto">

              <div class="card-body">
                <h5 class="card-title">최근 판매 내역 <span>| Today</span></h5>

                <table class="table table-borderless text-center">
                  <colgroup>
                    <col width="30%"/>
                    <col width="30%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                  </colgroup>
                  <thead>
                  <tr>
                    <th scope="col">판매날짜</th>
                    <th scope="col">상품명</th>
                    <th scope="col">구매자</th>
                    <th scope="col">구매금액</th>
                    <th scope="col">판매수량</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr th:each="sellingitems : ${sellingitems}">
                      <td class="text-center align-middle">
                        <p>[[${sellingitems.regTime}]]</p>
                      </td>
                      <td class="text-center align-middle">
                        <p>[[${sellingitems.itemNm}]]</p>
                      </td>
                      <td class="text-center align-middle">
                        <p>[[${sellingitems.createdBy}]]</p>
                      </td>
                      <td class="text-center align-middle">
                        <p>[[${sellingitems.orderPrice}]]</p>
                      </td>
                      <td class="text-center align-middle">
                        <p>[[${sellingitems.count}]]</p>
                      </td>

                    </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div><!-- End Recent Sales -->

        </div>
      </div><!-- End Left side columns -->


    </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

<th:block th:include="/include/admin_footer.html"/>
<th:block th:include="/include/admin_js.html"/>

</body>

</html>