<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <th:block th:include="/include/admin_head.html"></th:block>
  <th:block th:include="/include/common_css.html"></th:block>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

  <style>
    .gap {
      margin-top: 150px;
      margin-bottom: 80px;
    }

    .backcol1 {
      background: #1e1e1e;
      border: #1e1e1e;
        height: 30px;
        width: 50px;
        border-radius: 10px;
    }
    .backcol1:hover{
      background: #a367e7;
      border: #a367e7;
        height: 30px;
        width: 50px;
        border-radius: 10px;
    }

    .backcol {
        background: #1e1e1e;
        border: #1e1e1e;
        height: 40px;
        width: 70px;
        border-radius: 10px;
    }
    .backcol:hover{
        background: #a367e7;
        border: #a367e7;
        height: 40px;
        width: 70px;
        border-radius: 10px;
    }

    .page-link {
      color: #000;
      background-color: #fff;
      border: 1px solid #ccc;
    }
    .page-item.active .page-link {
      z-index: 1;
      color: #555;
      font-weight:bold;
      background-color: #f1f1f1;
      border-color: #ccc;

    }
    .page-link:focus, .page-link:hover {
      color: #000;
      background-color: #fafafa;
      border-color: #ccc;
    }

    .h1tag {
        color: black;
        font-size: 45px;
    }
  </style>

    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">

</head>
<body>
<script th:inline="javascript">

    $(document).ready(function(){
        $("#searchBtn").on("click",function(e) {
            e.preventDefault();
            page(0);
        });
    });

    function page(page){
        let searchDateType = $("#searchDateType").val();
        let searchCategory = $("#searchCategory").val();
        let searchBy = $("#searchBy").val();
        let searchQuery = $("#searchQuery").val();

        location.href="/admin/categorychange/" + page
            + "?searchDateType=" + searchDateType
            + "&searchCategory=" + searchCategory
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
    }


  function updateCategory(){

   if(confirm("저장하시겠습니까?")){

    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    var id = $("#itemId").val();
    var category = $("#category").val();


    var url = "/admin/categorychange/modify/" + id +"?category=" + category;

       // alert(category);
       // alert(id);
    $.ajax({
      url      : url,
      type     : "PUT",
      beforeSend : function(xhr){
        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
        xhr.setRequestHeader(header, token);
      },
      dataType : "json",
      cache   : false,
      success  : function(result, status){
        location.href='/admin/categorychange';

      },
      error : function(jqXHR, status, error){

        if(jqXHR.status == '401'){
          alert('로그인 후 이용해주세요');
          location.href='/member/login';
        } else{
          alert(jqXHR.responseJSON.message);
        }
      }
    });
  }
  }

</script>

<th:block th:include="/include/admin_header.html"/>
<th:block th:include="/include/admin_sidebar.html"/>

<div class="container-fluid">
  <div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 gap">
        <h1 class="h1tag text-center">상품 카테고리 조회/변경</h1>

    </div>

    <form th:action="@{'/admin/categorychange/' + ${items.number}}" role="form" method="get" th:object="${items}">


      <div class="col-8 offset-4 pb-2">

          <div class="form-inline justify-content-center" th:object="${itemSearchDto}">
              <select th:field="*{searchDateType}" class="form-control m-1" style="width:auto;">
                  <option value="all">전체기간</option>
                  <option value="1d">1일</option>
                  <option value="1w">1주</option>
                  <option value="1m">1개월</option>
                  <option value="6m">6개월</option>
              </select>
              <select th:field="*{searchCategory}" class="form-control m-1" style="width:auto;">
                  <option value="">카테고리(전체)</option>
                  <option value="DIARY">Diary</option>
                  <option value="WALLDECO">WallDeco</option>
                  <option value="PEN">Pen & PenCase</option>
                  <option value="LIVING">Living</option>
                  <option value="CARD">Card & PostCard</option>
                  <option value="ACCESSORY">Accessory</option>
              </select>
              <select th:field="*{searchBy}" class="form-control m-1" style="width:auto;">
                  <option value="itemNm">상품명</option>
                  <option value="createdBy">등록자</option>
              </select>
              <input th:field="*{searchQuery}" type="text" class="form-control m-1" placeholder="검색어를 입력해주세요">
              <button id="searchBtn" type="submit" class="btn-primary backcol">검색</button>
          </div>
      </div>

    <div class="col-lg-10 col-md-10 col-sm-10 offset-1 mb-2">
        <table class="table table">
        <thead class="text-center">
        <tr>
          <th>상품아이디</th>
            <th type="hidden"></th>
          <th>카테고리</th>
          <th>상품명</th>
          <th>상품등록일</th>
          <th>카테고리 변경</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="items, status: ${items}">
          <td th:text="${items.id}"></td>
            <td type="hidden"><input type="hidden" id="itemId" name="itemId" th:value="${items.id}"></td>
        <td>

            <span th:if="${items.category == T(com.yuri.shoppingsite.constant.Category).DIARY}"  class="badge badge alert-danger">DIARY</span>
            <span th:if="${items.category == T(com.yuri.shoppingsite.constant.Category).WALLDECO}"  class="badge badge alert-info">WALL DECO</span>
            <span th:if="|${items.category == T(com.yuri.shoppingsite.constant.Category).PEN}|" class="badge badge alert-secondary">PEN</span>
            <span th:if="|${items.category == T(com.yuri.shoppingsite.constant.Category).LIVING}|" class="badge badge badge alert-warning">LIVING</span>
            <span th:if="|${items.category == T(com.yuri.shoppingsite.constant.Category).CARD}|" class="badge badge badge alert-success">CARD</span>
            <span th:if="|${items.category == T(com.yuri.shoppingsite.constant.Category).ACCESSORY}|" class="badge badge badge alert-primary">ACCESSORY</span>
        </td>
          <td th:text="${items.itemNm}"></td>
            <td th:text="${#temporals.format(items.regTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
          <td class="d-flex">

            <select class="mr-3" id="category">
              <th:block th:if="${items.category == T(com.yuri.shoppingsite.constant.Category).DIARY}" >
                <option th:value="DIARY" selected>DIARY</option>
                <option th:value="WALLDECO" >WALL DECO</option>
                <option th:value="PEN">PEN & PENCASE</option>
                <option th:value="LIVING">LIVING</option>
                <option th:value="CARD" >CARD & POSTCARD</option>
                <option th:value="ACCESSORY" >ACCESSORY</option>
              </th:block>
                <th:block th:if="${items.category == T(com.yuri.shoppingsite.constant.Category).WALLDECO}" >
                    <option th:value="DIARY" >DIARY</option>
                    <option th:value="WALLDECO" selected >WALL DECO</option>
                    <option th:value="PEN">PEN & PENCASE</option>
                    <option th:value="LIVING">LIVING</option>
                    <option th:value="CARD" >CARD & POSTCARD</option>
                    <option th:value="ACCESSORY" >ACCESSORY</option>
                </th:block>
                <th:block th:if="${items.category == T(com.yuri.shoppingsite.constant.Category).PEN}" >
                    <option th:value="DIARY" >DIARY</option>
                    <option th:value="WALLDECO" >WALL DECO</option>
                    <option th:value="PEN"selected>PEN & PENCASE</option>
                    <option th:value="LIVING">LIVING</option>
                    <option th:value="CARD" >CARD & POSTCARD</option>
                    <option th:value="ACCESSORY" >ACCESSORY</option>
                </th:block>
                <th:block th:if="${items.category == T(com.yuri.shoppingsite.constant.Category).LIVING}" >
                    <option th:value="DIARY" >DIARY</option>
                    <option th:value="WALLDECO" >WALL DECO</option>
                    <option th:value="PEN">PEN & PENCASE</option>
                    <option th:value="LIVING"selected>LIVING</option>
                    <option th:value="CARD" >CARD & POSTCARD</option>
                    <option th:value="ACCESSORY" >ACCESSORY</option>
                </th:block>
                <th:block th:if="${items.category == T(com.yuri.shoppingsite.constant.Category).CARD}" >
                    <option th:value="DIARY" >DIARY</option>
                    <option th:value="WALLDECO" >WALL DECO</option>
                    <option th:value="PEN">PEN & PENCASE</option>
                    <option th:value="LIVING">LIVING</option>
                    <option th:value="CARD" selected>CARD & POSTCARD</option>
                    <option th:value="ACCESSORY" >ACCESSORY</option>
                </th:block>
                <th:block th:if="${items.category == T(com.yuri.shoppingsite.constant.Category).ACCESSORY}" >
                    <option th:value="DIARY" >DIARY</option>
                    <option th:value="WALLDECO" >WALL DECO</option>
                    <option th:value="PEN">PEN & PENCASE</option>
                    <option th:value="LIVING">LIVING</option>
                    <option th:value="CARD" >CARD & POSTCARD</option>
                    <option th:value="ACCESSORY"selected >ACCESSORY</option>
                </th:block>
            </select>
            <span class="backcol1 white-color" onclick="updateCategory()">저장</span>

          </td>
        </tr>
        </tbody>
      </table>

        <div class="justify-content-center mb-5 mt-5">

            <!--        페이징 처리 시작-->
            <div th:with="start=${(items.number/maxPage)*maxPage +1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
                <ul class="pagination justify-content-center">

                    <li class="page-item" th:classappend="${items.first}?'disabled'">
                        <a style="font-size: 13px" th:onclick="'javascript:page(' + ${items.number -1} + ')'" aria-label='Previous' class="page-link">
                            <span aria-hidden='true' >이전</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq (page -1)}?'active':''">
                        <a style="font-size: 13px" th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                    </li>

                    <li class="page-item" th:classappend="${items.last}?'disabled'">
                        <a style="font-size: 13px" th:onclick="'javascript:page(' + ${items.number +   1} + ')'" aria-label='Next' class="page-link">
                            <span aria-hidden='true'>다음</span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>

      </div>
    </form>
  </div>
</div>



<th:block th:include="/include/admin_footer.html"/>
<th:block th:include="/include/admin_js.html"/>


</body>
</html>