<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <th:block th:include="/include/admin_head.html"></th:block>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

</head>

<body>

<th:block th:include="/include/admin_header.html"/>
<th:block th:include="/include/admin_sidebar.html"/>


<main id="main" class="main">

  <div class="pagetitle">

    <!-- Right side columns -->
    <div class="col-lg-12">



      <!-- category income -->
      <div class="card">

        <div class="card-body pb-4">
          <h5 class="card-title">카테고리별 매출액 비중 <span>| Today</span></h5>
          <canvas id="pieChart" style="width: 600px; max-height: 150px;"></canvas>

          <script th:inline="javascript">

            var labelList = new Array();
            var valueList = new Array();
            var colorList = new Array();

          let jData = [[ ${json} ]];
          let jObject = JSON.stringify(jData);
          let jData2 = JSON.parse(jObject);

            for(var i = 0; i<jData2.length; i++) {
              var d = jData2[i];
              labelList.push(d.category1);
              valueList.push(d.totalIncome);
              colorList.push(colorize());
            }

            function colorize() {
              var r = Math.floor(Math.random()*200);
              var g = Math.floor(Math.random()*200);
              var b = Math.floor(Math.random()*200);
              var color = 'rgba(' + r + ', ' + g + ', ' + b + ', 0.7)';
              return color;
            }

            var config = {
              type: 'pie',
              data: {
                labels: labelList,
                datasets: [{
                  backgroundColor: colorList,
                  data : valueList
                }],
              },
              options: {
                responsive: true,
                maintainAspectRatio: false, //true 하게 되면 캔버스 width,height에 따라 리사이징된다.
                legend: {
                  position: 'top',
                  fontColor: 'black',
                  align: 'center',
                  display: true,
                  fullWidth: true,
                  labels: {
                    fontColor: 'rgb(0, 0, 0)'
                  }
                },
                plugins: {
                  labels: {//두번째 script태그를 설정하면 각 항목에다가 원하는 데이터 라벨링을 할 수 있다.
                    render: 'value',
                    fontColor: 'black',
                    fontSize: 15,
                    precision: 2
                  }

                }
              }
            }

            var canvas = document.getElementById('pieChart');
            var pieChart = new Chart(canvas,config);

          </script>
        </div>
      </div><!-- End Website Traffic -->

      <!-- Budget Report -->
      <div class="card">
        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body pb-0">
          <h5 class="card-title">Budget Report <span>| This Month</span></h5>

          <div id="budgetChart" style="min-height: 400px;" class="echart"></div>

          <script>
            document.addEventListener("DOMContentLoaded", () => {
              var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                legend: {
                  data: ['Allocated Budget', 'Actual Spending']
                },
                radar: {
                  // shape: 'circle',
                  indicator: [{
                    name: 'Sales',
                    max: 6500
                  },
                    {
                      name: 'Administration',
                      max: 16000
                    },
                    {
                      name: 'Information Technology',
                      max: 30000
                    },
                    {
                      name: 'Customer Support',
                      max: 38000
                    },
                    {
                      name: 'Development',
                      max: 52000
                    },
                    {
                      name: 'Marketing',
                      max: 25000
                    }
                  ]
                },
                series: [{
                  name: 'Budget vs spending',
                  type: 'radar',
                  data: [{
                    value: [4200, 3000, 20000, 35000, 50000, 18000],
                    name: 'Allocated Budget'
                  },
                    {
                      value: [5000, 14000, 28000, 26000, 42000, 21000],
                      name: 'Actual Spending'
                    }
                  ]
                }]
              });
            });
          </script>

        </div>
      </div><!-- End Budget Report -->
        </div>
    </div><!-- End Right side columns -->

  <th:block th:include="/include/admin_footer.html"/>
  <th:block th:include="/include/admin_js.html"/>
</main><!-- End #main -->



</body>
</html>
