<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <th:block th:include="/include/admin_head.html"></th:block>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
</head>

<body>

<th:block th:include="/include/admin_header.html"/>
<th:block th:include="/include/admin_sidebar.html"/>


<main id="main" class="main">

  <div class="pagetitle">

    <!-- Right side columns -->
    <div class="col-lg-12">



      <!-- category income -->
      <div class="card">


        <div class="card-body">
          <h5 class="card-title">전체 판매 통계 <span> | Today</span></h5>

          <!-- Line Chart -->
          <center>
            <canvas style="max-width:1500px ;max-height:600px" id="chart"></canvas>
          </center>
          <script th:inline="javascript">

            let jsonData = [[${json}]];
            obj = JSON.parse(jsonData);

            var labelList = new Array();
            var countList = new Array();
            var revenueList = new Array();

            for(key in obj){
              labelList.push(obj[key].mgDate);
              countList.push(obj[key].mgCount);
              revenueList.push(obj[key].mgRevenue);
            }


            let ctx = document.getElementById('chart').getContext('2d');
            new Chart(ctx, {
              type: 'line',
              data: {
                labels: labelList,
                datasets: [{
                  label: '수익',
                  yAxisID: 'A',
                  borderColor: '#2eca6a',
                  backgroundColor: '#2eca6a',
                  data: revenueList,
                  fill: false
                }, {
                  label: '판매량',
                  yAxisID: 'B',
                  borderColor: '#4154f1',
                  backgroundColor: '#4154f1',
                  data: countList,
                  fill: false
                }]
              },
              options: {
                tooltips: {
                  mode: 'nearest'
                },
                scales: {
                  yAxes: [{
                    id: 'A',
                    type: 'linear',
                    position: 'left',
                    ticks: {
                      // min: 0,
                      // max: 100,
                      stepSize: 50000,
                      fontColor: '#000000',
                      callback: function(value, index, values) {
                        return value + ' 원';
                      }
                    }
                  }, {
                    id: 'B',
                    type: 'linear',
                    position: 'right',
                    ticks: {
                      // min: 60,
                      // max: 140,
                      stepSize: 1,
                      fontColor: '#000000',
                      callback: function(value, index, values) {
                        return value + ' 건';
                      }
                    }
                  }]
                },
                elements: {
                  line: {
                    tension: 0, // disables bezier curves
                  },
                  point: {
                    radius: 4,
                    borderWidth: 2,
                    pointStyle: 'circle'
                  }
                }

              }
            });
          </script>
          <!-- End Line Chart -->

        </div>

        <div class="card-body pb-4">
          <h5 class="card-title">카테고리별 매출액 비중 <span>| Today</span></h5>
          <center>
          <canvas class="" id="logNameChart" style="max-width: 400px; max-height: 400px; "></canvas>
          </center>
          <script th:inline="javascript">
            let labelList1 = new Array();
            let valueList1 = new Array();

            let jsonData1 = [[${json1}]];
            console.log(jsonData1)
            obj1 = JSON.parse(jsonData1);

            for(key in obj1){
              labelList1.push(obj1[key].Category);
              valueList1.push(obj1[key].Income);
              console.log(obj1[key].Category);
            }
            let data = {
              labels: labelList1,
              datasets: [{
                backgroundColor: ['#B9F3E4','#EA8FEA','#F6E6C2','#FFAACF', '#FDEBED','#FFB9B9'],
                // borderColor: '#22252B',
                data : valueList1,
              }],
              options: {
                responsive: true,
                maintainAspectRatio: true,
                legend: {
                  position: 'top',
                  fontColor: 'black',
                  align: 'center',
                  display: true,
                  fullWidth: true,
                  labels: {
                    fontColor: 'rgb(0, 0, 0)'
                  }
                },
                plugins: {
                  labels: {//두번째 script태그를 설정하면 각 항목에다가 원하는 데이터 라벨링을 할 수 있다.
                    render: 'value',
                    fontColor: 'black',
                    fontSize: 15,
                    precision: 2
                  }
                }
              }
            };

            var ctx1 = document.getElementById('logNameChart').getContext('2d');
            new Chart(ctx1, {
              type: 'pie',
              data: data
            });
          </script>
        </div>
      </div><!-- End Website Traffic -->

        </div>
    </div><!-- End Right side columns -->
</main><!-- End #main -->

  <th:block th:include="/include/admin_footer.html"/>
  <th:block th:include="/include/admin_js.html"/>



</body>
</html>
