<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5",
      xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout">

<head>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragent="css"></th:block>
</head>
<body>
<!-- th:replace 속성은 해당 속성이 선언된 html 태그를 다른 html 파일로 치환하는 것-->
<!-- fragments 폴더 아래에 fheader.html 파일의 "th:fragment=header" 영역을 가지고옴-->
<div th:replace="fragments/fheader::header"></div>
<!--layout에서 변경되는 영역을 fragment로 설정한다. 앞으로 만드는 페이지는 이영역에 들어감-->
<div layout:fragment="content"></div>
<!--fragments 폴더 아래의 footer.html 파일의 "th:fragment="footer"영역을 가지고 옴-->
<div th:replace="fragments/footer::footer"></div>
</body>
</html>