<!-- Vendor JS Files -->
<script src="/admin_asset/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/admin_asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/admin_asset/vendor/chart.js/chart.umd.js"></script>
<script src="/admin_asset/vendor/echarts/echarts.min.js"></script>
<script src="/admin_asset/vendor/quill/quill.min.js"></script>
<script src="/admin_asset/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/admin_asset/vendor/tinymce/tinymce.min.js"></script>
<script src="/admin_asset/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/admin_asset/js/main.js"></script>