<footer>

  <!-- Footer Start-->
  <div class="footer-area footer-padding">
              <hr>
    <div class="container mt-5">
      <div class="row d-flex justify-content-between">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mr-3 text-center">
          <div class="single-footer-caption mb-50 ">
            <div class="single-footer-caption mb-30 ">
              <!-- logo -->
              <div class="footer-logo">
                <a href="index.html"><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
              </div>
              <div class="footer-tittle">
                <div class="footer-pera">
                  <p style="font-size: 14px">안녕하세요:) 율스샵에 방문해주셔서 감사합니다.<br>
                  더 나은 내일을 위해 항상 노력하겠습니다.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 mr-1 text-center">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>COMPANY</h4>
              <div class="footer-pera">
                <p style="font-size: 14px">
                  상호 : (주)율스샵<br>
                  사업자등록번호 : 123-456-78910<br>
                  전화 : 031-123-4567<br>
                  주소 : 수원시 영통구 망포동 랄라22길 5-1(랄라동) 3층<br>
                  메일 : yurifrom1123@gmail.com<br>
                  팩스 : 02-1234-5678
                  </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 text-center">
          <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
              <h4>BANK</h4>
              <div class="footer-pera">
                <p style="font-size: 14px">신한은행<br>
                   110-301-851060<br>
                   (주)율스샵</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- Footer bottom -->
    <center>

      <div class="row col-12 justify-content-center">
        <div class="col-xl-7 col-lg-7 col-md-7 mx-6">
          <div class="justify-content-center text-center ">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | YULSHOP
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 text-center justify-content-center">
          <div class="text-center">
            <!-- social -->
            <div class="footer-social ">
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-behance"></i></a>
              <a href="#"><i class="fas fa-globe"></i></a>
            </div>
          </div>
        </div>
      </div>
  <!-- Footer End-->
  </center>
  </div>
</footer>