<!doctype html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:include="/include/common_css.html"></th:block>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <style>
        #gap {
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .page-item.active .page-link {
            z-index: 1;
            color: #555;
            font-weight:bold;
            background-color: #f1f1f1;
            border-color: #ccc;

        }

        .userinfo {
            padding-top: 17px;
            font-size: 17px;
            color: #1d2124;
            font-weight: 500;
        }


    </style>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <th:block th:include="/include/common_css.html"></th:block>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script th:inline="javascript">
        function cancelOrder(orderId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order/" + orderId + "/cancel";
            var paramData = {
                orderId : orderId,
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("주문이 취소 되었습니다.");
                    location.href='/orders/' + [[${page}]];
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'||jqXHR.status == '500'){
                        alert('로그인 후 이용해주세요');
                        location.href='/member/login';
                    } else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }
    </script>

</head>
<body>

<th:block th:include="/include/header.html"></th:block>

<section class="latest-product-area">

    <div class="container">
        <div class="row product-btn d-flex text-start" id="gap">
            <!-- Section Tittle -->
            <div class="col-lg-10 col-md-10 col-sm-10 offset-1 mb-2">
                <div class="section-tittle mb-30">
                    <h2>MY ACCOUNT</h2>
                </div>
            </div>
        </div>


        <div class="row col-12 mt-80 text-center justify-content-center ">

            <div class="col-2 offset-1 mr-1 border border-primary">
                <img src="/admin_asset/img/profile-img.png" alt="Profile" class="mt-1 rounded-circle">
            </div>

            <div class="col-5 border border-primary">
                <p class="userinfo">율스샵을 이용해 주셔서 감사합니다.</br>
                    현재 <span style="color:#c738d8; font-weight: bold">[[${nickname}]]</span>님의 회원등급은 "<span style="color:#c738d8; font-weight: bold">[[${member}]]</span>"입니다.</p>
            </div>

            <div class="row col-10 offset-1 mt-50">

                <div class="col-2 offset-1 border border-secondary text-center pt-25 mr-1">
                    <a th:href="@{/orders}">
                    <h3>
                        <i class="fa-regular fa-credit-card"></i>
                    </h3>
                    <p>구매이력</p>
                    </a>

                </div>
                <div class="col-2 border border-secondary text-center pt-25 mr-1">
                    <a th:href="@{/member/personalinfo}">
                    <h3>
                        <i class="fa-solid fa-user"></i>
                    </h3>
                    <p>회원정보</p>
                    </a>
                </div>
                <div class="col-2 border border-secondary text-center pt-25 mr-1">
                    <a th:href="@{/member/coupon}">
                    <h3>
                        <i class="fa-solid fa-tags"></i>
                    </h3>
                    <p>쿠폰관리</p>
                    </a>
                </div>
                <div class="col-2 border border-secondary text-center pt-25 mr-1">
                    <a th:href="@{/member/myboard}">
                    <h3>
                        <i class="fa-regular fa-pen-to-square"></i>
                    </h3>
                    <p>내가 쓴 게시물</p>
                    </a>
                </div>
                <div class="col-2 border border-secondary text-center pt-25">
                    <a th:href="@{/member/delivery/list}">
                    <h3>
                        <i class="fa-solid fa-truck"></i>
                    </h3>
                    <p>배송지관리</p>
                    </a>
                </div>
             </div>



















        </div>
    </div>

</section>
<th:block th:include="/include/user_footer.html"></th:block>

<th:block th:include="/include/common_js.html"></th:block>
</body>
</html>
