<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>
    <head>

<!--        <div th:include="@{/include/common_css.html}"></div>-->
   </head>
   <body>

    <!-- Preloader Start -->
<!--         <div th:include="@{/include/preloader.html}"></div>-->

    <!--     Header Start-->
    <header>
<!--         <div th:include="@{/include/header.html}"></div>-->
    </header>

    <main>
        <!-- slider Area Start -->
<!--        <div th:include="@{/include/mainview.html}"></div>-->
        <!-- slider Area End-->

        <!-- Category Area Start-->
        <section class="category-area section-padding30">
            <div class="container-fluid">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-85">
                            <h2>Shop by Category</h2>
                        </div>
                    </div>
                </div>
                <div class="row col-lg-10 offset-1">
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/diary}">
                                <img src="assets/yuls/diary.jpg" width="400" height="300" alt="">
                                <div class="category-caption">
                                    <!--                                    <h2>Man`s Cloth</h2>-->
                                    <!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
                                    <!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/walldeco}">
                                <img src="assets/yuls/walldeco.jpg" width="400" height="300" alt="">
                                <div class="category-caption">
                                    <!--                                    <h2>Man`s Cloth</h2>-->
                                    <!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
                                    <!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/pen}">
                                <img src="assets/yuls/pen.jpg" width="400" height="300" alt="">
                                <div class="category-caption">
<!--                                    <h2>Man`s Cloth</h2>-->
<!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
<!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/living}">
                                <img src="assets/yuls/living.jpg" width="400" height="300" alt="">
                                <div class="category-caption">
                                    <!--                                    <h2>Man`s Cloth</h2>-->
                                    <!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
                                    <!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/card}">
                                <img src="assets/yuls/card.jpg" width="400" height="300" alt="">
                                <div class="category-caption">
                                    <!--                                    <h2>Man`s Cloth</h2>-->
                                    <!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
                                    <!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/acc}">
                                <img src="assets/yuls/acc.jpg" width="400" height="300"  alt="">
                                <div class="category-caption">
                                    <!--                                    <h2>Man`s Cloth</h2>-->
                                    <!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
                                    <!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Category Area End-->

        <!-- Latest Products Start -->
        <div class="container">
            <div class="row product-btn d-flex justify-content-end align-items-end" id="gap">
                <!-- Section Tittle -->
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-85">
                        <h2>BESTSELLER</h2>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-7">
                    <div class="properties__button f-right">
                    </div>
                </div>
            </div>

            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


                    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
                    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
                        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
                    </div>

                    <div class="row">
                        <th:block th:each="item, status: ${items.getContent()}">
                            <div class="col-xl-4 col-lg-6">
                                <div class="single-product mb-60">
                                    <a th:href="'/item/'+${item.id}">
                                        <div class="product-img mb-3">
                                            <img th:src="${item.imgUrl}" height="300" width="400" th:alt="${item.imgUrl}"/>
                                        </div>
                                        <div class="product-caption">
                                            <h5 style="font-weight:bold;font-size: 15px;" >[[${item.itemNm}]]</h5>
                                            <div class="price">
                                                <p th:text="|${#numbers.formatInteger(item.price,3,'COMMA')}원|"></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Nav Card -->
        </div>

        </section>
        <!-- Latest Products End -->





<!--        &lt;!&ndash; Best Product Start &ndash;&gt;-->
<!--        <div class="best-product-area lf-padding" >-->
<!--           <div class="product-wrapper bg-height" style="background-image: url('assets/img/categori/card.png')">-->
<!--                <div class="container position-relative">-->
<!--                    <div class="row justify-content-between align-items-end">-->
<!--                        <div class="product-man position-absolute  d-none d-lg-block">-->
<!--                            <img src="assets/img/categori/card-man.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="col-xl-2 col-lg-2 col-md-2 d-none d-lg-block">-->
<!--                            <div class="vertical-text">-->
<!--                                <span>Manz</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-xl-8 col-lg-8">-->
<!--                            <div class="best-product-caption">-->
<!--                                <h2>Find The Best Product<br> from Our Shop</h2>-->
<!--                                <p>Designers who are interesten creating state ofthe.</p>-->
<!--                                <a href="#" class="black-btn">Shop Now</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--           </div>-->
<!--           &lt;!&ndash; Shape &ndash;&gt;-->
<!--           <div class="shape bounce-animate d-none d-md-block">-->
<!--               <img src="assets/img/categori/card-shape.png" alt="">-->
<!--           </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Best Product End&ndash;&gt;-->
<!--        &lt;!&ndash; Best Collection Start &ndash;&gt;-->
<!--        <div class="best-collection-area section-padding2">-->
<!--            <div class="container">-->
<!--                <div class="row d-flex justify-content-between align-items-end">-->
<!--                    &lt;!&ndash; Left content &ndash;&gt;-->
<!--                    <div class="col-xl-4 col-lg-4 col-md-6">-->
<!--                        <div class="best-left-cap">-->
<!--                            <h2>Best Collection of This Month</h2>-->
<!--                            <p>Designers who are interesten crea.</p>-->
<!--                            <a href="#" class="btn shop1-btn">Shop Now</a>-->
<!--                        </div>-->
<!--                        <div class="best-left-img mb-30 d-none d-sm-block">-->
<!--                            <img src="assets/img/collection/collection1.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Mid Img &ndash;&gt;-->
<!--                     <div class="col-xl-2 col-lg-2 d-none d-lg-block">-->
<!--                        <div class="best-mid-img mb-30 ">-->
<!--                            <img src="assets/img/collection/collection2.png" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Riht Caption &ndash;&gt;-->
<!--                    <div class="col-xl-4 col-lg-6 col-md-6">-->
<!--                        <div class="best-right-cap ">-->
<!--                           <div class="best-single mb-30">-->
<!--                               <div class="single-cap">-->
<!--                                   <h4>Menz Winter<br> Jacket</h4>-->
<!--                               </div>-->
<!--                               <div class="single-img">-->
<!--                                  <img src="assets/img/collection/collection3.png" alt="">-->
<!--                               </div>-->
<!--                           </div>-->
<!--                        </div>-->
<!--                        <div class="best-right-cap">-->
<!--                           <div class="best-single mb-30">-->
<!--                               <div class="single-cap active">-->
<!--                                   <h4>Menz Winter<br>Jacket</h4>-->
<!--                               </div>-->
<!--                               <div class="single-img">-->
<!--                                  <img src="assets/img/collection/collection4.png" alt="">-->
<!--                               </div>-->
<!--                           </div>-->
<!--                        </div>-->
<!--                        <div class="best-right-cap">-->
<!--                           <div class="best-single mb-30">-->
<!--                               <div class="single-cap">-->
<!--                                   <h4>Menz Winter<br> Jacket</h4>-->
<!--                               </div>-->
<!--                               <div class="single-img">-->
<!--                                  <img src="assets/img/collection/collection5.png" alt="">-->
<!--                               </div>-->
<!--                           </div>-->
<!--                        </div>-->
<!--                    </div> -->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Best Collection End &ndash;&gt;-->
<!--        &lt;!&ndash; Latest Offers Start &ndash;&gt;-->
<!--        <div class="latest-wrapper lf-padding">-->
<!--            <div class="latest-area latest-height d-flex align-items-center" data-background="assets/img/collection/latest-offer.png">-->
<!--                <div class="container">-->
<!--                    <div class="row d-flex align-items-center">-->
<!--                        <div class="col-xl-5 col-lg-5 col-md-6 offset-xl-1 offset-lg-1">-->
<!--                            <div class="latest-caption">-->
<!--                                <h2>Get Our<br>Latest Offers News</h2>-->
<!--                                <p>Subscribe news latter</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                         <div class="col-xl-5 col-lg-5 col-md-6 ">-->
<!--                            <div class="latest-subscribe">-->
<!--                                <form action="#">-->
<!--                                    <input type="email" placeholder="Your email here">-->
<!--                                    <button>Shop Now</button>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; man Shape &ndash;&gt;-->
<!--                <div class="man-shape">-->
<!--                    <img src="assets/img/collection/latest-man.png" alt="">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Latest Offers End &ndash;&gt;-->
<!--        &lt;!&ndash; Shop Method Start&ndash;&gt;-->
<!--        <div class="shop-method-area section-padding30">-->
<!--            <div class="container">-->
<!--                <div class="row d-flex justify-content-between">-->
<!--                    <div class="col-xl-3 col-lg-3 col-md-6">-->
<!--                        <div class="single-method mb-40">-->
<!--                            <i class="ti-package"></i>-->
<!--                            <h6>Free Shipping Method</h6>-->
<!--                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-xl-3 col-lg-3 col-md-6">-->
<!--                        <div class="single-method mb-40">-->
<!--                            <i class="ti-unlock"></i>-->
<!--                            <h6>Secure Payment System</h6>-->
<!--                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>-->
<!--                        </div>-->
<!--                    </div> -->
<!--                    <div class="col-xl-3 col-lg-3 col-md-6">-->
<!--                        <div class="single-method mb-40">-->
<!--                            <i class="ti-reload"></i>-->
<!--                            <h6>Secure Payment System</h6>-->
<!--                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Shop Method End&ndash;&gt;-->
<!--        &lt;!&ndash; Gallery Start&ndash;&gt;-->
<!--        <div class="gallery-wrapper lf-padding">-->
<!--            <div class="gallery-area">-->
<!--                <div class="container-fluid">-->
<!--                    <div class="row">-->
<!--                        <div class="gallery-items">-->
<!--                            <img src="assets/img/gallery/gallery1.jpg" alt="">-->
<!--                        </div> -->
<!--                        <div class="gallery-items">-->
<!--                            <img src="assets/img/gallery/gallery2.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="gallery-items">-->
<!--                            <img src="assets/img/gallery/gallery3.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="gallery-items">-->
<!--                            <img src="assets/img/gallery/gallery4.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="gallery-items">-->
<!--                            <img src="assets/img/gallery/gallery5.jpg" alt="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Gallery End&ndash;&gt;-->

    </main>
<!--    <div th:include="@{/include/user_footer.html}"></div>-->
<!--    <div th:include="@{/include/common_js.html}"></div>-->
    </body>
</html>