<!doctype html>
<html lang="ko">
<html xmlns:th="http://www.thymleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>
    <head>
<!--        <div th:include="/include/common_css.html"></div>-->

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>YULSHOP입니다.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="manifest" crossorigin="use-credentials" href="/site.manifest.json">-->
        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
        <!-- CSS here -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/assets/css/flaticon.css">
        <link rel="stylesheet" href="/assets/css/slicknav.css">
        <link rel="stylesheet" href="/assets/css/animate.min.css">
        <link rel="stylesheet" href="/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/assets/css/themify-icons.css">
        <link rel="stylesheet" href="/assets/css/slick.css">
        <link rel="stylesheet" href="/assets/css/nice-select.css">
        <link rel="stylesheet" href="/assets/css/style.css">


   </head>
   <body>
    <!-- Preloader Start -->
<!--         <div th:include="/include/preloader.html"></div>-->

    <!--     Header Start-->
    <header>
         <div th:include="/include/header.html"></div>
    </header>

    <main>
        <!-- slider Area Start -->
        <div th:include="/include/mainview.html"></div>
        <!-- slider Area End-->

        <!-- Category Area Start-->
        <section class="category-area section-padding30">
            <div class="container-fluid">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-85">
                            <h2>Shop by Category</h2>
                        </div>
                    </div>
                </div>
                <div class="row col-lg-10 offset-1">
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/diary}">
                                <img src="assets/yuls/diary.jpg" width="400" height="300" alt="">
                                <div class="category-caption">
                                    <!--                                    <h2>Man`s Cloth</h2>-->
                                    <!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
                                    <!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/walldeco}">
                                <img src="assets/yuls/walldeco.jpg" width="400" height="300" alt="">
                                <div class="category-caption">
                                    <!--                                    <h2>Man`s Cloth</h2>-->
                                    <!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
                                    <!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/pen}">
                                <img src="assets/yuls/pen.jpg" width="400" height="300" alt="">
                                <div class="category-caption">
<!--                                    <h2>Man`s Cloth</h2>-->
<!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
<!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/living}">
                                <img src="assets/yuls/living.jpg" width="400" height="300" alt="">
                                <div class="category-caption">
                                    <!--                                    <h2>Man`s Cloth</h2>-->
                                    <!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
                                    <!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/card}">
                                <img src="assets/yuls/card.jpg" width="400" height="300" alt="">
                                <div class="category-caption">
                                    <!--                                    <h2>Man`s Cloth</h2>-->
                                    <!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
                                    <!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a th:href="@{shopping/acc}">
                                <img src="assets/yuls/acc.jpg" width="400" height="300"  alt="">
                                <div class="category-caption">
                                    <!--                                    <h2>Man`s Cloth</h2>-->
                                    <!--                                    <span class="best"><a href="#">Best New Deals</a></span>-->
                                    <!--                                    <span class="collection">New Collection</span>-->
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- Category Area End-->

        <!-- Latest Products Start -->
        <div class="container">
            <div class="row product-btn d-flex justify-content-end align-items-end" id="gap">
                <!-- Section Tittle -->
                <div class="col-lg-12">
                    <div class="section-tittle text-center mb-85">
                        <h2>BESTSELLER</h2>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-7">
                    <div class="properties__button f-right">
                    </div>
                </div>
            </div>

            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


                    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
                    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
                        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
                    </div>

                    <div class="row">
                        <th:block th:each="item, status: ${items.getContent()}">
                            <div class="col-xl-4 col-lg-6">
                                <div class="single-product mb-60">
                                    <a th:href="'/item/'+${item.id}">
                                        <div class="product-img mb-3">
                                            <img th:src="${item.imgUrl}" height="300" width="400" th:alt="${item.imgUrl}"/>
                                        </div>
                                        <div class="product-caption">
                                            <h5 style="font-weight:bold;font-size: 15px;" >[[${item.itemNm}]]</h5>
                                            <div class="price">
                                                <p th:text="|${#numbers.formatInteger(item.price,3,'COMMA')}원|"></p>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Nav Card -->
        </div>

        </section>
        <!-- Latest Products End -->

    </main>
    <div th:include="/include/user_footer.html"></div>
    <div th:include="/include/common_js.html"></div>
    </body>
</html>