<!doctype html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="/include/common_css.html"></th:block>
  <style>
    #gap {
      margin-top: 80px;
      /*margin-bottom: 10px;*/
    }

    .page-link {
      color: #000;
      background-color: #fff;
      border: 1px solid #ccc;
    }
    .page-item.active .page-link {
      z-index: 1;
      color: #555;
      font-weight:bold;
      background-color: #f1f1f1;
      border-color: #ccc;

    }
    .br {
      border-radius: 30px;
      /*height: 35px;*/
    }
    .page-link:focus, .page-link:hover {
      color: #000;
      background-color: #fafafa;
      border-color: #ccc;
    }
    .newbadge {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #f4511e;
      color: white;
      padding: 5px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: bold;
    }

    .soldoutbadge{
      position: absolute;
      top: 10px;
      right: 50px;
      background-color: #82b1ff;
      color: white;
      padding: 5px;
      border-radius: 5px;
      font-size: 12px;
      font-weight: bold;
    }
  </style>

</head>
<body>
<script th:inline="javascript">

  $(document).ready(function(){
    $("#searchBtn").on("click",function(e) {
      e.preventDefault();
      page(0);
    });
  });
  function page(page){
    let searchDateType = $("#searchDateType").val();
    let searchSellStatus = $("#searchSellStatus").val();
    let searchBy = $("#searchBy").val();
    let searchQuery = $("#searchQuery").val();

    location.href="/shopping/card/" + page
            + "?searchDateType=" + searchDateType
            + "&searchSellStatus=" + searchSellStatus
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
  }
</script>
<th:block th:include="/include/header.html"></th:block>

<section class="latest-product-area padding-bottom">
  <div class="container">
    <div class="row d-flex justify-content-end align-items-end">
      <!-- Section Tittle -->
      <div class="col-xl-4 col-lg-5 col-md-5">
        <div class="section-tittle" id="gap">
          <h2>CARD</h2>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7 col-md-7 ">
        <div class="properties__button f-right">
          <!--Nav Button  -->
          <nav>
            <div class="nav nav-tabs">
              <a class="nav-item nav-link " th:href="@{/shopping/shopping}">All</a>
              <a class="nav-item nav-link " th:href="@{/shopping/diary}">DIARY</a>
              <a class="nav-item nav-link " th:href="@{/shopping/walldeco}">WALLDECO</a>
              <a class="nav-item nav-link " th:href="@{/shopping/living}">LIVING</a>
              <a class="nav-item nav-link " th:href="@{/shopping/pen}">PEN</a>
              <a class="nav-item nav-link active" th:href="@{/shopping/card}">CARD</a>
              <a class="nav-item nav-link " th:href="@{/shopping/acc}">ACCESSORY</a>
            </div>
          </nav>
          <!--End Nav Button  -->
        </div>
      </div>
    </div>
    <hr>
    <form th:action="@{'/shopping/shopping/' + ${cardItems.number}}" role="form" method="get" th:object="${cardItems}">
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
      <!--        검색하기-->
      <div class="form-inline justify-content-end mt-30 mb-30" th:object="${itemSearchDto}">
        <select th:field="*{searchDateType}" class="form-control m-1 align-middle border br" style="width:auto;">
          <option value="all">전체기간</option>
          <option value="1d">1일</option>
          <option value="1w">1주</option>
          <option value="1m">1개월</option>
          <option value="6m">6개월</option>
        </select>
        <select th:field="*{searchSellStatus}" class="form-control m-1 align-middle border br" style="width:auto;">
          <option value="">판매상태(전체)</option>
          <option value="SELL">판매</option>
          <option value="SOLD_OUT">품절</option>
          <option value="NOT_SELL">판매중단</option>
        </select>
        <select th:field="*{searchBy}" class="form-control m-1 align-middle border br" style="width:auto;">
          <option value="itemNm">상품명</option>
          <option value="createdBy">등록자</option>
        </select>
        <input th:field="*{searchQuery}" type="text" class="form-control m-1" placeholder="검색어를 입력해주세요">
        <button id="searchBtn" type="submit" class="btn-primary backcol rad">검색</button>
      </div>
    <!-- Nav Card one -->
    <div class="tab-content" id="nav-tabContent">
      <!-- card one -->
      <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
        <div class="row">

          <th:block th:each="item, status: ${cardItems.getContent()}">
            <div class="col-xl-4 col-lg-4 col-md-6">

              <div class="single-product mb-60">
                <a th:href="'/item/'+${item.id}">
                  <div class="product-img">
                    <th:block th:each="newItems, status: ${newItems}">
                      <div th:if="${item.id == newItems.id}">
                        <span class="newbadge">new</span>
                      </div>
                    </th:block>
                    <th:block th:each="soldOut, status: ${soldOut}">
                      <div th:if="${item.id == soldOut.id}">
                        <span class="soldoutbadge">sold out</span>
                      </div>
                    </th:block>
                    <img th:src="${item.imgUrl}" height="300" th:alt="${item.imgUrl}"/>
                  </div>
                  <div class="product-caption">
                    <h5 style="font-weight:bold;font-size: 15px;" th:text="|[${item.category}]${item.itemNm}|"></h5>
                    <div class="price">
                      <p th:text="|${#numbers.formatInteger(item.price,3,'COMMA')}원|"></p>
                    </div>
                  </div>
                </a>
              </div>

            </div>
          </th:block>
          <div class="col-xl-10 col-lg-10 col-md-10 offset-1">
            <div class="justify-content-center" th:with="start=${(cardItems.number/maxPage)*maxPage + 1}, end=(${(cardItems.totalPages == 0) ? 1 : (start + (maxPage - 1) < cardItems.totalPages ? start + (maxPage - 1) : cardItems.totalPages)})" >
              <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${cardItems.number eq 0}?'disabled':''">
                  <a style="font-size: 13px" th:href="@{'/shopping/card/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${cardItems.number -1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>이전</span>
                  </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${cardItems.number eq page -1}?'active':''">
                  <a style="font-size: 13px" th:href="@{'/shopping/card/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page -1}}" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${cardItems.number +1 ge cardItems.totalPages}?'disabled':''">
                  <a style="font-size: 13px" th:href="@{'/shopping/card/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${cardItems.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>다음</span>
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Nav Card -->
    </div>
    </form>
  </div>
  <th:block th:include="/include/user_footer.html"></th:block>
  <th:block th:include="/include/common_js.html"></th:block>
</section>
</body>
</html>