<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/include/common_css.html"></th:block>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <style>
        #gap {
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .backcol {
            background: #1e1e1e;
            border: #1e1e1e;
            width: 100px;
            height: 40px;
            border-radius: 10px;
        }
        .backcol:hover{
            background: #a367e7;
            border: #a367e7;
            width: 100px;
            height: 40px;
            border-radius: 10px;
        }
        .fontcolors {
            margin-top:40px;
            margin-bottom: 40px;
            font-size: 15px;
        }

        .page-link {
            color: #000;
            background-color: #fff;
            border: 1px solid #ccc;
        }
        .page-item.active .page-link {
            z-index: 1;
            color: #555;
            font-weight:bold;
            background-color: #f1f1f1;
            border-color: #ccc;

        }
        .page-link:focus, .page-link:hover {
            color: #000;
            background-color: #fafafa;
            border-color: #ccc;
        }
        .repImg{
            height:80px;
            width:80px;
        }
        .fs18{
            font-size:18px
        }



    </style>
    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">

</head>
<body>

<!-- 사용자 스크립트 추가 -->
    <script th:inline="javascript">

        $(document).ready(function(){
            //주문할 상품을 체크하거나 해제할 경우 총 주문 금액을 구하는 함수를 호출한다.
        $("input[name=cartChkBox]").change(function(){
            getOrderTotalPrice();
        });
    });

        function addComma(num){
            var regexp = /\B(?=(\d{3})+(?!\d))/g;
            return num.toString().replace(regexp, ',');
        }

        //총 주문 금액을 구하는 함수
        function getOrderTotalPrice(){
        var orderTotalPrice = 0;
        //현재 체크된 장바구니 상품들의 가격과 수량을 곱해서 총 주문 금액을 구한다.
        $("input[name=cartChkBox]:checked").each(function() {
        var cartItemId = $(this).val();
        var price = $("#price_" + cartItemId).attr("data-price");
        var count = $("#count_" + cartItemId).val();
        orderTotalPrice += price*count;
    });

        $("#orderTotalPrice").html(addComma(orderTotalPrice)+'원');

    }

    //장바구니에 들어있는 상품의 수량을 변경시 상품의 가격과 상품의 수량을 곱해서 상품 금액을 변경해준다.
        //변경된 총 주문 금액을 계산하기 위해 마지막에 getOrdertotalPrice() 함수 호출
        function changeCount(obj){
        var count = obj.value;
        var cartItemId = obj.id.split('_')[1];
        var price = $("#price_" + cartItemId).data("price");
        var totalPrice = count*price;
        $("#totalPrice_" + cartItemId).html(totalPrice+"원");
        getOrderTotalPrice();
        updateCartItemCount(cartItemId, count);
    }

        //장바구니에 들어있는 전체 상품을 체크하거나 체크 해제하는 함수
        //변경된 총주문 금액을 계산하기 위해 마지막에 getOrderTotalPrice() 함수 호출
        function checkAll(){
        if($("#checkall").prop("checked")){
        $("input[name=cartChkBox]").prop("checked",true);
    }else{
        $("input[name=cartChkBox]").prop("checked",false);
    }
        getOrderTotalPrice();
    }


        function updateCartItemCount(cartItemId, count){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var url = "/cart/cartItem/" + cartItemId+"?count=" + count;

        $.ajax({
        url      : url,
        type     : "PATCH", //부분업데이트이므로 PATCH TYPE으로 설정
        beforeSend : function(xhr){
        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
        xhr.setRequestHeader(header, token);
    },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
        console.log("cartItem count update success");
    },
        error : function(jqXHR, status, error){

        if(jqXHR.status == '401'){
        alert('로그인 후 이용해주세요');
        location.href='/member/login';
    } else{
        alert(jqXHR.responseJSON.message);
    }

    }
    });
    }

        function deleteCartItem(obj){
            if(confirm("정말로 삭제하시겠습니까?")){
        var cartItemId = obj.dataset.id;
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var url = "/cart/cartItem/" + cartItemId;

        $.ajax({
        url      : url,
        type     : 'DELETE', //삭제요청이므로 delete type 사용
        beforeSend : function(xhr){
        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
        xhr.setRequestHeader(header, token);
    },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
            //삭제 요청이 정상 처리되면 장바구니 페이지를 새로고침한다.
        location.href='/cart';
    },
        error : function(jqXHR, status, error){

        if(jqXHR.status == '401'){
        alert('로그인 후 이용해주세요');
        location.href='/member/login';
    } else{
        alert(jqXHR.responseJSON.message);
    }

    }
            });
        }
        }

        function orders(){
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        var url = "/order/orders";

        var dataList = new Array();
        var paramData = new Object();

        //체크된 장바구니 상품 아이디 전달하기 위해서 datalist 배열에
            // 장바구니 상품 아이디를 객체로 만들어 저장
        $("input[name=cartChkBox]:checked").each(function() {
        var cartItemId = $(this).val();
        var data = new Object();
        data["cartItemId"] = cartItemId;
        dataList.push(data);
    });

        //장바구니 상품 아이디를 저장하고 있는 dataList 배열을 paramData 객체에 추가한다.
        paramData['cartOrderDtoList'] = dataList;

        var param = JSON.stringify(paramData);

        $.ajax({
        url      : url,
        type     : "POST",
        contentType : "application/json",
        data     : param,
        beforeSend : function(xhr){
        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
        xhr.setRequestHeader(header, token);
    },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
        alert("주문이 완료 되었습니다.");
        //주문 요청 결과 성공하면 구매 이력 페이지로 이동
        location.href='/orders';
    },
        error : function(jqXHR, status, error){

        if(jqXHR.status == '401'){
        alert('로그인 후 이용해주세요');
        location.href='/member/login';
    } else{
        alert(jqXHR.responseJSON.message);
    }

    }
    });
    }


</script>

<th:block th:include="/include/header.html"></th:block>

<section class="latest-product-area">

<div class="container">
    <div class="row product-btn d-flex text-start" id="gap">
        <div class="col-lg-10 col-md-10 col-sm-10 offset-1 mb-2">
            <div class="section-tittle mb-30">
                <h2>CART LIST</h2>
            </div>

            <div>
                <table class="table">
                    <colgroup>
                        <col width="14%"/>
                        <col width="14%"/>
                        <col width="30%"/>
                        <col width="14%"/>
                        <col width="14%"/>
                        <col width="14%"/>
                    </colgroup>
                    <thead>
                    <tr class="text-center">
                        <td>
                            <input type="checkbox" id="checkall" onclick="checkAll()"> 전체선택
                        </td>
                        <td>상품이미지</td>
                        <td>상품명</td>
                        <td>상품가격</td>
                        <td>상품수량</td>
                        <td>금액합계</td>
                        <td>삭제</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cartItem : ${cartItems}">
                        <td class="text-center align-middle">
                            <input type="checkbox" name="cartChkBox" th:value="${cartItem.cartItemId}">
                        </td>
                        <td class="text-center align-middle">
                            <img th:src="${cartItem.imgUrl}" class = "rounded repImg" th:alt="${cartItem.itemNm}">
                        </td>
                        <td class="text-center align-middle">
                            <span style="font-weight:bold;font-size: 15px;" th:text="${cartItem.itemNm}" class="fs18 font-weight-bold"></span>
                        </td>
                        <td class="text-center align-middle">
                                <span th:id="'price_' + ${cartItem.cartItemId}"
                                      th:data-price="${cartItem.price}"
                                      th:text="|${#numbers.formatInteger(cartItem.price,3,'COMMA')}원|"> class="align-self-center mr-2">
                                </span>
                        </td>

                        <td class="text-center align-middle">
                            <input type="number" name="count" th:id="'count_' + ${cartItem.cartItemId}"
                                   th:value="${cartItem.count}" min="1" style="width: 70px"
                                   onchange="changeCount(this)" class="form-control mr-2" >
                        </td>
                        <td class="text-center align-middle">
                    <span th:id="'totalPrice_' + ${cartItem.cartItemId}"
                          name="totalPrice" th:text="|${#numbers.formatInteger(cartItem.price * cartItem.count,3,'COMMA')}원|">
                    </span>
                        </td>
                        <td class="text-center align-middle">
                        <button type="button" class="close" aria-label="Close">
                            <span th:data-id="${cartItem.cartItemId}" onclick="deleteCartItem(this)">&times;</span>
                        </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
                <hr>
                <h2 class="text-right">

                </h2>

                <div class="d-flex justify-content-end text-right mt-3">
                    <h2 class="mr-3">
                        <span class="fs18">총 주문 금액 : </span><span id="orderTotalPrice" class="fs18 text-danger">0원</span>
                    </h2>
                    <button type="button" class="backcol" onclick="orders()">주문하기</button>
                </div>

            </div>
        </div>
    </div>
</div>
<th:block th:include="/include/common_js.html"></th:block>
</section>
</body>
</html>