<!doctype html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:include="/include/common_css.html"></th:block>
    <style>
        #gap {
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .hover:hover {
            color: #a367e7;
        }

        .backcol {
            background: #1e1e1e;
            border: #1e1e1e;
        }
        .backcol:hover{
            background: #a367e7;
            border: #a367e7;
        }
        .fontcolors {
            margin-top:40px;
            margin-bottom: 40px;
            font-size: 15px;
        }

        .page-link {
            color: #000;
            background-color: #fff;
            border: 1px solid #ccc;
        }
        .page-item.active .page-link {
            z-index: 1;
            color: #555;
            font-weight:bold;
            background-color: #f1f1f1;
            border-color: #ccc;

        }
        .page-link:focus, .page-link:hover {
            color: #000;
            background-color: #fafafa;
            border-color: #ccc;
        }

        .rad{
            border-radius: 10px;
            padding: 10px 30px;
        }

        .mar {
            margin-right: 20px;
        }

        .acol {
            color: black;
        }
        .mar2 {
            margin: 0px 10px;
        }
    </style>


</head>
<body>

<th:block th:include="/include/header.html"></th:block>

<section class="latest-product-area padding-bottom">


    <div class="container">


        <div class="row product-btn d-flex justify-content-end align-items-end">
            <!-- Section Tittle -->
            <div class="col-xl-4 col-lg-5 col-md-5">
                <div class="section-tittle mb-30">
                    <h2>ALL PRODUCTS</h2>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-7">
                <div class="properties__button f-right">
                    <!--Nav Button  -->

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">All</a>
                            <a class="nav-item nav-link" id="nav-diary-tab" data-toggle="tab" href="#nav-diary" role="tab" aria-controls="nav-diary" aria-selected="false">DIARY</a>
                            <a class="nav-item nav-link" id="nav-walldeco-tab" data-toggle="tab" href="#nav-walldeco" role="tab" aria-controls="nav-walldeco" aria-selected="false">WALL DECO</a>
                            <a class="nav-item nav-link" id="nav-pen-tab" data-toggle="tab" href="#nav-pen" role="tab" aria-controls="nav-pen" aria-selected="false">PEN&CASE</a>
                            <a class="nav-item nav-link" id="nav-living-tab" data-toggle="tab" href="#nav-living" role="tab" aria-controls="nav-living" aria-selected="false">LIVING</a>
                            <a class="nav-item nav-link" id="nav-card-tab" data-toggle="tab" href="#nav-card" role="tab" aria-controls="nav-card" aria-selected="false">CARD</a>
                            <a class="nav-item nav-link" id="nav-acc-tab" data-toggle="tab" href="#nav-acc" role="tab" aria-controls="nav-acc" aria-selected="false">ACC</a>
                        </div>
                    </nav>

<!--                    <nav>-->
<!--                        <div class="nav nav-tabs rad" id="nav-tab" role="tablist">-->
<!--                            <a class="acol hover mar2" th:href="@{/shopping/shopping}">ALL</a>-->
<!--                            <a class="acol hover mar2" th:href="@{/shopping/shopping}">DIARY</a>-->
<!--                            <a class="acol hover mar2" th:href="@{/shopping/shopping}">WALL DECO</a>-->
<!--                            <a class="acol hover mar2" th:href="@{/shopping/shopping}">PEN&CASE</a>-->
<!--                            <a class="acol hover mar2" th:href="@{/shopping/shopping}">LIVING</a>-->
<!--                            <a class="acol hover mar2" th:href="@{/shopping/shopping}">CARD</a>-->
<!--                            <a class="acol hover mar2" th:href="@{/shopping/shopping}">ACC</a>-->
<!--                        </div>-->
<!--                    </nav>-->
                    <!--End Nav Button  -->
                </div>
            </div>
        </div>

        <!-- Nav Card -->
        <div class="tab-content" id="nav-tabContent">
            <!-- card one -->
            <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
<!--                <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">-->
<!--                <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">-->
<!--                    <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>-->
<!--                </div>-->

                <div class="row">
                    <th:block th:each="item, status: ${items.getContent()}">
                    <div class="col-xl-4 col-lg-4 col-md-6">

                        <div class="single-product mb-60">
                            <a th:href="'/item/'+${item.id}">
                            <div class="product-img">
                                 <img th:src="${item.imgUrl}" height="300" th:alt="${item.imgUrl}"/>
                            </div>
                            <div class="product-caption">
                              <h5>[[${item.itemNm}]]</h5>
                                <div class="price">
                                    <p>[[${item.price}]]원</p>
                                </div>
                            </div>
                            </a>
                        </div>

                    </div>
                    </th:block>
                </div>


<!--                    <div class="justify-content-center" th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >-->
<!--                        <ul class="pagination justify-content-center">-->

<!--                            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">-->
<!--                                <a th:href="@{'/shopping/shopping/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number -1}}" aria-label='Previous' class="page-link">-->
<!--                                    <span aria-hidden='true'>이전</span>-->
<!--                                </a>-->
<!--                            </li>-->

<!--                            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page -1}?'active':''">-->
<!--                                <a th:href="@{'/shopping/shopping/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page -1}}" th:inline="text" class="page-link">[[${page}]]</a>-->
<!--                            </li>-->

<!--                            <li class="page-item" th:classappend="${items.number +1 ge items.totalPages}?'disabled':''">-->
<!--                                <a th:href="@{'/shopping/shopping/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">-->
<!--                                    <span aria-hidden='true'>다음</span>-->
<!--                                </a>-->
<!--                            </li>-->

<!--                        </ul>-->
<!--                    </div>-->

                </div>
            </div>

        <!-- card two -->
        <div class="tab-pane fade show active" id="nav-diary" role="tabpanel" aria-labelledby="nav-diary-tab">

            <div class="row">
                <th:block th:each="item, status: ${items.getContent()}">
                    <div class="col-xl-4 col-lg-4 col-md-6">

                        <div class="single-product mb-60">
                            <a th:href="'/item/'+${item.id}">
                                <div class="product-img">
                                    <img th:src="${item.imgUrl}" height="300" th:alt="${item.imgUrl}"/>
                                </div>
                                <div class="product-caption">
                                    <h5>야호</h5>
                                    <div class="price">
                                        <p>50000원</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </th:block>
            </div>

<!--            <div class="justify-content-center" th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >-->
<!--                <ul class="pagination justify-content-center">-->

<!--                    <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">-->
<!--                        <a th:href="@{'/shopping/shopping/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number -1}}" aria-label='Previous' class="page-link">-->
<!--                            <span aria-hidden='true'>이전</span>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page -1}?'active':''">-->
<!--                        <a th:href="@{'/shopping/shopping/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page -1}}" th:inline="text" class="page-link">[[${page}]]</a>-->
<!--                    </li>-->

<!--                    <li class="page-item" th:classappend="${items.number +1 ge items.totalPages}?'disabled':''">-->
<!--                        <a th:href="@{'/shopping/shopping/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">-->
<!--                            <span aria-hidden='true'>다음</span>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </div>-->

        </div>
    <!-- End Nav Card -->
    </div>
</section>
<th:block th:include="/include/user_footer.html"></th:block>
<th:block th:include="/include/common_js.html"></th:block>
</body>
</html>